# Database
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/jersey_store?schema=public"

# Auth
JWT_SECRET="super-secret-key-change-in-production"

# API (Backend)
PORT=3001

# Store (Frontend)
NEXT_PUBLIC_API_URL="http://localhost:3001"
