# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
build

# NestJS
dist

# Environment variables
.env
.env*.local

# Turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.swp
*.swo
